/* Start variaboles */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/* End variaboles */
/* Start Componat */
.spectial-header {
    text-align: center ;
}
.spectial-header h2 {
    font-size: 40px ;
    text-transform: uppercase ;
    font-weight: normal ;
    position: relative ;
    margin-bottom: 70px ;
}
.spectial-header h2::after {
    content: "" ;
    position: absolute ;
    width: 120px ;
    height: 2px ;
    background-color: #333 ;
    bottom: -30px ;
    left: 50% ;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.spectial-header h2::before {
    content: "" ;
    position: absolute ;
    padding: 7px ;
    background-color: white ;
    border: 2px solid #333 ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 50% ;
    transform:translateX(-50%) ;
    -webkit-transform:translateX(-50%) ;
    -moz-transform:translateX(-50%) ;
    -ms-transform:translateX(-50%) ;
    -o-transform:translateX(-50%) ;
    bottom: -37px ;
    z-index: 1;
}
.spectial-header p {
    width: 550px ;
    margin: 0 auto 100px auto ;
    max-width: 100%;
    /* font-size: 17px ;  */
    line-height: 2 ;
    color: #777 ;
}
/* End Componat */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 ; 
    margin: 0 ;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none ;
}
.container {
    padding-left: 15px ;
    padding-right: 15px ;
    margin-left: auto ;
    margin-right: auto ;
}
/* small */
@media (min-width: 767px) {
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px ;
    }
}
/* larg */
@media (min-width: 1200px) {
    .container {
        width: 1170px ;
    }
}
/* End Global Rules */
/* Start header */
header {
    position: absolute ;
    width: 100% ;
    left: 0 ;
    z-index: 2 ;
}
header .container {
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    position: relative ;
    min-height: 97px ;
    
}
header  .container::after {
    content: " ";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    right: 15px;
    background-color: #a2a2a2;
}
header  nav .img img {
    height: 40px ;
}
header  nav  {
    flex: 1 ;
    display: flex ;
    justify-content: flex-end ;
    align-items: center ;
}
header nav .toggle-menu {
    color: white ;
    font-size: 22px ;
    display: none ;
}
@media (min-width: 768px) {
    header nav ul  {
        display: flex;
    }
}
@media (max-width: 767px) {
    header nav .toggle-menu {
        display: block ;
        
    }
    header nav ul  {
        display: none;
    }
    header nav .toggle-menu:hover + ul  {
        display: flex;
        flex-direction: column ;
        position: absolute ;
        top : 100% ;
        left: 0 ;
        width: 100% ;
        background-color: rgb(0 0 0 / 50%);
        width: 100% ;
    }
    header nav ul li a {
        padding: 15px !important ;
    }
}
header  nav ul li a {
    display: block;
    color: white ;
    text-decoration: none ;
    font-size: 14px ;
    padding: 40px 10px ;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    position: relative;
    z-index: 2 ;
}
header nav ul li a.active,
header nav ul li a:hover  {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px ;
    border-left: 1px solid white ;
}
header nav form i {
    color: white ;
    font-size: 20px ;
    position: absolute ;
    top: 50% ;
    transform: translatey(-50% );
    -webkit-transform: translatey(-50% );
    -moz-transform: translatey(-50% );
    -ms-transform: translatey(-50% );
    -o-transform: translatey(-50% );
    right: 0 ;
}
/* End header */
/* Start Landing */
.landing {
    min-height: 100vh ;
    background-color:rgb(15 116 143 / 70%);
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position:relative ;
    background-attachment: fixed;
}
.landing .overlay {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 100% ;
    background-color: rgb(0 0 0 / 60%);
}
.landing  .text {
    position: absolute ;
    top: 50% ;
    left: 0 ;
    transform:translateY(-50%) ;
    -webkit-transform:translateY(-50%) ;
    -moz-transform:translateY(-50%) ;
    -ms-transform:translateY(-50%) ;
    -o-transform:translateY(-50%) ;
    padding: 50px ;
    width: 50% ;
    background-color: var(--transparent-color);
    display: flex ;
    justify-content: flex-end ;
}
.landing .text .content {
    max-width: 500px;
}
.landing .text .content h2 {
    color: white ; 
    font-size: 32px ;
    font-weight: normal ;
    line-height: 1.5;
    margin-bottom: 20px ;
}
.landing .text .content  p {
    font-size: 14px ;
    line-height: 2 ;
    color: white ;
}
.change-background {
    position: absolute ;
    top: 50% ;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: white ;
    cursor: pointer ;
}
.landing .fa-angle-right {
    right: 30px ;
}
.landing .fa-angle-left {
    left: 30px ;
}
.landing ul {
    position: absolute;
    left: 50% ;
    transform:translateX(-50%) ;
    -webkit-transform:translateX(-50%) ;
    -moz-transform:translateX(-50%) ;
    -ms-transform:translateX(-50%) ;
    -o-transform:translateX(-50%) ;
    bottom: 30px ;
    display: flex ;
    justify-content: space-between ;
    width: 80px ;
}
.landing ul li {
    width: 20px;
    height: 20px;
    border: 1px solid white ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.landing ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
@media (max-width: 767px) {
    .landing  .text   {
        width: 100% ;
    }
    .landing .text .content {
        max-width: 100% ;
        
    }
    .change-background {
        display: none;
    }
}
/* End Landing */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
        grid-column-gap: 40px ;
        grid-row-gap: 60px ;
    }
    .sev-box {
        display: flex ;
    }
    .services .services-container i {
        margin-right: 50px ;
    }
}
.text h3 {
    margin-bottom: 30px ;
    color: var(--main-color);
}
.text p {
    line-height: 2 ;
    color: #777; 
}
@media (max-width: 767px) {
    .services .services-container {
        display: flex ;
        flex-direction: column ;
        text-align: center ;
    }
    
    .sev-box {
    margin-bottom: 40px;
    }
    .sev-box i {
        margin-bottom: 30px ;
    }
    .text h3 {
        margin-bottom: 30px ;
        color: var(--main-color);
    }
    .text p {
        line-height: 2 ;
        color: #777; 
    }
}
/* End Services */
/* Start design */
.design {
    padding-top : var(--section-padding);
    padding-bottom : var(--section-padding);
    background-image: url(../images/des.jpg);
    height: 600px ;
    position: relative ;
    background-size: cover ;
    overflow: hidden ;
    display: flex;
    justify-content: center ;
    background-attachment: fixed;
}
.design:after {
    position: absolute ;
    content: "" ;
    top: 0 ;
    left: 0 ;
    width: 100% ; 
    height: 100% ;
    background-color :rgb(0 0 0 / 60%) ;
}
.design .image ,
.design .text {
    flex: 1; 
    position: relative ;
    z-index: 2 ;
} 
.design .image   { 
    position: relative;
}
.design .image img {
    position: absolute ;
    left: 47% ;
    bottom: -50% ;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.design .text {
    margin: 15px 0 ;
    padding: 50px ;
    color: white ;
    background-color: var(--transparent-color) ; 
}
.design .text h2 {
    color: white ; 
    text-transform: uppercase;
    font-weight: normal ;
    margin-bottom: 40px ;
}
.design .text ul li {
    padding: 15px 0 ;
}
.design .text ul li::before {
    position: relative ;
    font-family: "Font Awesome 5 Free" ;
    content: "\f108";
    font-weight: 900 ;
    margin-right: 20px ;
    top: 1px ;
}
@media (max-width: 767px) {
    .design .text {
        flex-basis: 100%;
    }
}
/* End design */
/* Start portfolio */
.portfolio {
    padding-top : var(--section-padding);
    padding-bottom : var(--section-padding);
}
.shuffle ul {
    display: flex ;
    justify-content: center ;
}
.shuffle ul li {
    padding: 10px ;
    cursor: pointer;
}
.shuffle ul li.active {
    background-color: var(--main-color) ;
    color: white ;
}
.imgs-container {
    display: flex ;
    flex-wrap: wrap;
    margin-top: 60px ;
}
.imgs-container .box {
    position: relative;
    overflow : hidden ;
}  
.imgs-container .box:hover .caption {
    bottom: 0 ;
}
.imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
    -webkit-transform: rotate(3deg) scale(1.1);
    -moz-transform: rotate(3deg) scale(1.1);
    -ms-transform: rotate(3deg) scale(1.1);
    -o-transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
    .imgs-container .box {
        flex-basis: 50% ;
    }   
}
@media (min-width: 1199px) {
    .imgs-container .box {
        flex-basis: 25% ;
    }   
}
.imgs-container .box img {
    max-width: 100% ;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.imgs-container .box .caption {
    height: 100px ;
    background-color: white ;
    padding: 20px ;
    width: 100% ;
    position: absolute ;
    bottom: -200% ;
    z-index: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.imgs-container .box .caption h4 {
    font-weight: normal ;
    margin-bottom: 10px ;
}
.imgs-container .box .caption p {
    color: var(--main-color);
}
.more {
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
/* End portfolio */
/* Start video */
.video {
    position: relative ;
}
.video::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.video video {
    background-size: cover;
    width: 100% ;
}
.video .text {
    width: 100% ;
    position: absolute ;
    right: 0;
    top: 50% ;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    z-index: 2;
    background-color: var(--transparent-color); 
    text-align: center ;
    color: white;
    padding: 50px ;
}
.video .text h2 {
    text-transform: uppercase;
    margin: 0 0 30px;
}
.video .text p {
    margin-bottom: 30px;
    color: white ;
}
.video .text button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase ;
}
/* End video */
/* Start about */
.about {
    padding-top: var(--section-padding);
    overflow: hidden ;
    position: relative ;
}
.about .image {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100% ;
}
.about .image img {
    max-width: 100% ;
}
@media (max-width: 767px) {
    .about .image {
        bottom: -60px;
        margin-top: -60px;
    }
}
/* End about */
/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/Stats.jpg);
    position: relative ;
    background-size: cover ;
    background-attachment: fixed;
}
.stats::before {
    position: absolute ;
    content: "" ; 
    top : 0 ;
    left: 0 ; 
    width: 100% ;
    height: 100% ;
    background-color:rgb(0 0 0 / 40%) ;
}
.stats .stats-container {
    color: white ;
    background-color: var(--transparent-color);
    display: flex ;
    justify-content: center;
    flex-wrap: wrap ;
    align-items: center ;
    position: relative;
}
.stats .stats-container .box {
    text-align: center ;
    padding: 50px ;
}
.stats .stats-container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto 30px;
}
.stats .stats-container .box div {
    margin-bottom: 20px ;
    font-size : 50px;
    font-weight: bold;
}
.stats .stats-container .box p {
    font-size: 14px ;
}
@media (max-width: 767px) {
    .stats .stats-container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .stats-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .stats-container .box {
        flex-basis: 25%;
    }
}

/* Start Stats */
/* Start skils */
.skils {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skils-content {
    display: flex; 
    justify-content: space-between ;
}
@media (max-width: 991px) {
    .skils-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
}
.skils-content .box {
    flex-basis: 45%;
}
.skils-content .box .point {
    display: flex ;
    margin: auto ;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skils-content .box .point li {
    padding: 6px ;
    border: 1px solid #aaa ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px ;
}
.skils-content .box .point li.active {
    background-color: var(--main-color) ;
    border-color: var(--main-color) ;
}
.skils-content .box > .text > h2 {
    font-weight: normal;
    text-align: center;
    margin: 0 0 30px
}
.skils-content .box > .text > p  {
    line-height: 2 ;
    color: #777 ;
    text-align: center;
    margin: 0 0 60px;
}
.testimonial-box {
    margin-bottom: 30px  ;
    display: flex ;
    align-items: center; 
}
.testimonial-box  img  {
    margin-right: 50px ;
    width: 100px;
    max-width: 100% ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (max-width: 767px) {
    .testimonial-box {
        flex-direction: column ;
    }
    .testimonial-box  img {
        margin-bottom: 50px ;    
    }
}
.box-text {
    border-bottom: 1px solid #ccc ;
}
.testimonial-box .box-text p {
    line-height: 2 ; 
}
.testimonial-box .box-text h4 {
    color: #777 ;
    font-size: 14px ;
    text-align: right ;
    margin-bottom: 10px ;
    font-weight: normal;
}
.skils-box {
    margin-bottom: 40px;
}
.skils-box h3 {
    font-weight: normal;
    margin-bottom: 10px;

}
.skils-box .skils-prog {
    height: 40px;
    background-color: #dedadc;
}
.skils-box .skils-prog span {
    display: block;
    width: 90%;
    height: 100%;
    background-color: var(--main-color);
    position: relative ;
}
.skils-box .skils-prog span::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    top: -9px;
    right: -7px;
}
.skils-box .skils-prog span::after {
    content: attr(data-pro);
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    top: -36px;
    right: -18px;
}
/* End skils */
/* Start qute */
.qute {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/qute.jpg);
    background-size:cover;
    position: relative ; 
    background-attachment: fixed;
}
.qute::before {
    position: absolute ;
    content: '' ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 100% ;
    background-color:rgb(0 0 0 / 40%);
}
.qute-content {
    position: relative ;
    color: white ;
}
.qute-content q {
    display: block ;
    font-size: 30px ;
    margin-bottom: 20px; 
    text-align: center ;
}
.qute-content q::after {
    position: relative;
    font-family: "Font Awesome 5 Free";
    content: "\f10e" ;
    font-weight: 900;
    margin-left: 10px ;
    font-size: 14px ;
    top: -10px;
}
.qute-content q::before {
    position: relative;
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 900;
    margin-right: 10px;
    font-size: 14px;
    top: -10px;
}
.qute-content p {
    text-align: center ;
}
/* End qute */
/* Start pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    grid-gap: 20px;
}
.plan {
    margin-bottom: 30px;
    text-align: center ;
    background-color: #aaaaaa1f ;
}
.plan .header {
    padding: 30px ;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}
.plan .header h4 {
    text-transform: uppercase;
    font-weight: normal ;
    margin-bottom: 20px ;
}
.plan .header p {
    font-size: 60px ;
    font-weight: bold ;
}
.plan .header p::after {
    content: "/MO";
    font-size: 18px;
    margin-left: 10px;
}
.plan .header p::before {
    content: "$";
    position: relative;
    font-size: 26px;
    font-weight: normal;
    top: -44px;
    left: -19px;
}
.plan .body {
    border-bottom: 1px solid var(--main-color);
}
.plan .body li {
    padding: 20px;
    position: relative;
    margin: 0 auto;
}
.plan .body li:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    bottom: 0;
    background-color: var(--main-color);
    left: 50%;
    transform: translate(-50%,calc(-50% + 10px));
    -webkit-transform: translate(-50%,calc(-50% + 10px));
    -moz-transform: translate(-50%,calc(-50% + 10px));
    -ms-transform: translate(-50%,calc(-50% + 10px));
    -o-transform: translate(-50%,calc(-50% + 10px));
}
.plan .foot {
    padding: 50px ;
}
.plan .foot a {
    padding: 20px 20px ;
    border: 1px solid var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    color: black ;
}
.plan .foot a:hover {
    background-color: var(--main-color) ;
    color: white;
}
@media (max-width: 1199px) {
    .pricing-content {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 767px) {
    .pricing-content {
        grid-template-columns: 1fr;
    }
}
.link {
    text-align: center ;
}
.link .text {
    font-size: 20px;
    font-weight: normal;
    margin: 50px auto 20px;
}
.link .link-pricing{
    display: block;
    width: fit-content;
    margin: 0  auto 20px;
    padding: 15px 30px ;
    background-color: var(--main-color);
    color: white ;
    text-decoration: none;
}
/* Snd pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/earth.jpg);
    background-attachment: fixed;
    position: relative ;
}
.subscribe::before {
    position: absolute ;
    content: "";
    top: 0 ; 
    left: 0 ;
    width: 100% ;
    height: 100% ;
    background-color:rgb(0 0 0 / 40%) ;
}
.subscribe-content {
    position: relative ;
    color: white ;
    display: flex;
}
.subscribe-content p {
    margin-left: 50px ;
    line-height: 2 ;
}
@media (max-width: 992px) {
    .subscribe-content {
        flex-direction: column ;
    }
    .subscribe-content p {
        text-align: center;
        margin: 50px auto 0;
    }
}
.subscribe .box {
    position: relative;
}
.subscribe .box i {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.subscribe .box input[type="email"] {
    padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid white;
    border-right: none ;
    width: calc(100% - 121px);
    color: white ;
    
}
.subscribe .box input[type="email"]::placeholder {
    color: white ;
}
.subscribe .box input[type="submit"] {
    border: 1px solid white;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    border-left: none;
    margin-left: -3px;
    width: 119px ;
}
.subscribe .box input[type="email"]:focus ,
.subscribe .box input[type="submit"]:focus {
    outline:none ;
}
/* End Subscribe */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .content form .main-input:focus {
    outline: none;
}
.contact .content form textarea.main-input {
    height: 200px;
}
.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}
.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}
@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}
.contact .content .info address {
    color: #777;
    line-height: 2;
}
@media (max-width: 767px) {
    .contact .content .info address {
        margin-bottom: 40px;
    }
}
  /* End Contact */
/* Start Footer  */
.footer {
    padding-top: calc(var(--section-padding) /2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../images/footer.jpg);
    background-size: cover ;
    position: relative ;
}
.footer::before {
    position: absolute ;
    content: '' ;
    top: 0 ; 
    left: 0 ;
    width: 100% ;
    height: 100% ;
    background-color:rgb(0 0 0 / 60%)
}
.footer .container {
    text-align: center ;
    position: relative ;
    color: white ;
}
.footer img {
    margin-bottom: 20px;
}
.footer h4 {
    padding: 40px;
    margin: 0 auto 20px ;
    border-bottom: 1px solid white;
    width: fit-content ;
    text-transform: uppercase;
    font-size: 22px;
}
.footer .social-icons i  {
    padding: 15px ;
}
.footer .copyreight {
    margin-top: 60px ;
}
.footer .copyreight span {
    color: var(--main-color) ;
    font-weight: bold ;
}
/* End Footer  */